##################################################################################
## la.ucf
##
## Author: Michael "Mr. Sump" Poppitz
##
## Details: http://sump.org/projects/analyzer/
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints.
##
## MODIFIED for use of Xilinx Spartan 3e Starter Kit
## MODIFIED for use with ButterFly Platform S3E Cocoon
## MODIFIED for use with Logic Sniffer
## Visit www.GadgetFactory.net or www.dangerousprototypes.com for more information
##################################################################################
# Crystal Clock - use 50MHz onboard oscillator
NET "bf_clock" IOSTANDARD = LVCMOS33;
NET "bf_clock" LOC = P41;
NET "bf_clock" TNM_NET = "bf_clock";
TIMESPEC TS_bf_clock = PERIOD "bf_clock" 20 ns HIGH 50%;
PIN "dcm_sys_clk.CLK2X" TNM = "coreclk";

# external Clock - use Auxiliary clock
NET "extClockIn" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extClockIn" LOC = P32;
NET "extClockIn" TNM_NET = "extClockIn";
TIMESPEC TS_extClockIn = PERIOD "extClockIn" 10 ns HIGH 50%;
PIN "dcm_ext_clk.CLK0" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "dcm_ext_clk.CLK180" CLOCK_DEDICATED_ROUTE = FALSE;

NET "extTriggerIn" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extTriggerIn" LOC = P26;
NET "extTriggerIn" OFFSET = IN 7 ns VALID 9 ns BEFORE "bf_clock" RISING;

NET "extClockOut" IOSTANDARD = LVCMOS33;
NET "extClockOut" SLEW = FAST;
NET "extClockOut" DRIVE = 8;
NET "extClockOut" LOC = P33;

NET "extTriggerOut" IOSTANDARD = LVCMOS33;
NET "extTriggerOut" SLEW = FAST;
NET "extTriggerOut" DRIVE = 8;
NET "extTriggerOut" LOC = P34;

#--Inside row numbering
NET "extData[0]" IOSTANDARD = LVCMOS33;
NET "extData[0]" SLEW = SLOW;
NET "extData[0]" DRIVE = 2;
NET "extData[0]" LOC = P83;
NET "extData[1]" IOSTANDARD = LVCMOS33;
NET "extData[1]" SLEW = SLOW;
NET "extData[1]" DRIVE = 2;
NET "extData[1]" LOC = P84;
NET "extData[2]" IOSTANDARD = LVCMOS33;
NET "extData[2]" SLEW = SLOW;
NET "extData[2]" DRIVE = 2;
NET "extData[2]" LOC = P85;
NET "extData[3]" IOSTANDARD = LVCMOS33;
NET "extData[3]" SLEW = SLOW;
NET "extData[3]" DRIVE = 2;
NET "extData[3]" LOC = P86;
NET "extData[4]" IOSTANDARD = LVCMOS33;
NET "extData[4]" SLEW = SLOW;
NET "extData[4]" DRIVE = 2;
NET "extData[4]" LOC = P88;
NET "extData[5]" IOSTANDARD = LVCMOS33;
NET "extData[5]" SLEW = SLOW;
NET "extData[5]" DRIVE = 2;
NET "extData[5]" LOC = P89;
NET "extData[6]" IOSTANDARD = LVCMOS33;
NET "extData[6]" SLEW = SLOW;
NET "extData[6]" DRIVE = 2;
NET "extData[6]" LOC = P90;
NET "extData[7]" IOSTANDARD = LVCMOS33;
NET "extData[7]" SLEW = SLOW;
NET "extData[7]" DRIVE = 2;
NET "extData[7]" LOC = P91;
NET "extData[8]" IOSTANDARD = LVCMOS33;
NET "extData[8]" SLEW = SLOW;
NET "extData[8]" DRIVE = 2;
NET "extData[8]" LOC = P92;
NET "extData[9]" IOSTANDARD = LVCMOS33;
NET "extData[9]" SLEW = SLOW;
NET "extData[9]" DRIVE = 2;
NET "extData[9]" LOC = P94;
NET "extData[10]" IOSTANDARD = LVCMOS33;
NET "extData[10]" SLEW = SLOW;
NET "extData[10]" DRIVE = 2;
NET "extData[10]" LOC = P95;
NET "extData[11]" IOSTANDARD = LVCMOS33;
NET "extData[11]" SLEW = SLOW;
NET "extData[11]" DRIVE = 2;
NET "extData[11]" LOC = P98;
NET "extData[12]" IOSTANDARD = LVCMOS33;
NET "extData[12]" SLEW = SLOW;
NET "extData[12]" DRIVE = 2;
NET "extData[12]" LOC = P2;
NET "extData[13]" IOSTANDARD = LVCMOS33;
NET "extData[13]" SLEW = SLOW;
NET "extData[13]" DRIVE = 2;
NET "extData[13]" LOC = P3;
NET "extData[14]" IOSTANDARD = LVCMOS33;
NET "extData[14]" SLEW = SLOW;
NET "extData[14]" DRIVE = 2;
NET "extData[14]" LOC = P4;
NET "extData[15]" IOSTANDARD = LVCMOS33;
NET "extData[15]" SLEW = SLOW;
NET "extData[15]" DRIVE = 2;
NET "extData[15]" LOC = P5;

NET "extData[16]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[16]" SLEW = FAST;
NET "extData[16]" DRIVE = 8;
NET "extData[16]" LOC = P53;
NET "extData[17]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[17]" SLEW = FAST;
NET "extData[17]" DRIVE = 8;
NET "extData[17]" LOC = P54;
NET "extData[18]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[18]" SLEW = FAST;
NET "extData[18]" DRIVE = 8;
NET "extData[18]" LOC = P57;
NET "extData[19]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[19]" SLEW = FAST;
NET "extData[19]" DRIVE = 8;
NET "extData[19]" LOC = P58;
NET "extData[20]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[20]" SLEW = FAST;
NET "extData[20]" DRIVE = 8;
NET "extData[20]" LOC = P60;
NET "extData[21]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[21]" SLEW = FAST;
NET "extData[21]" DRIVE = 8;
NET "extData[21]" LOC = P61;
NET "extData[22]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[22]" SLEW = FAST;
NET "extData[22]" DRIVE = 8;
NET "extData[22]" LOC = P62;
NET "extData[23]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[23]" SLEW = FAST;
NET "extData[23]" DRIVE = 8;
NET "extData[23]" LOC = P63;
NET "extData[24]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[24]" SLEW = FAST;
NET "extData[24]" DRIVE = 8;
NET "extData[24]" LOC = P65;
NET "extData[25]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[25]" SLEW = FAST;
NET "extData[25]" DRIVE = 8;
NET "extData[25]" LOC = P66;
NET "extData[26]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[26]" SLEW = FAST;
NET "extData[26]" DRIVE = 8;
NET "extData[26]" LOC = P67;
NET "extData[27]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[27]" SLEW = FAST;
NET "extData[27]" DRIVE = 8;
NET "extData[27]" LOC = P68;
NET "extData[28]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[28]" SLEW = FAST;
NET "extData[28]" DRIVE = 8;
NET "extData[28]" LOC = P70;
NET "extData[29]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[29]" SLEW = FAST;
NET "extData[29]" DRIVE = 8;
NET "extData[29]" LOC = P71;
NET "extData[30]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[30]" SLEW = FAST;
NET "extData[30]" DRIVE = 8;
NET "extData[30]" LOC = P78;
NET "extData[31]" IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "extData[31]" SLEW = FAST;
NET "extData[31]" DRIVE = 8;
NET "extData[31]" LOC = P79;

#--Outside row numbering
#NET "extData<0>" LOC = "P53" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<1>" LOC = "P54" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<2>" LOC = "P57" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<3>" LOC = "P58" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<4>" LOC = "P60" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<5>" LOC = "P61" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<6>" LOC = "P62" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<7>" LOC = "P63" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<8>" LOC = "P65" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<9>" LOC = "P66" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  	
#NET "extData<10>" LOC = "P67" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;  
#NET "extData<11>" LOC = "P68" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<12>" LOC = "P70" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<13>" LOC = "P71" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<14>" LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<15>" LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<16>" LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<17>" LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<18>" LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<19>" LOC = "P86" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<20>" LOC = "P88" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<21>" LOC = "P89" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<22>" LOC = "P90" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<23>" LOC = "P91" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<24>" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<25>" LOC = "P4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<26>" LOC = "P3" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<27>" LOC = "P2" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<28>" LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<29>" LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<30>" LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	
#NET "extData<31>" LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8 ;	

NET "armLEDnn" IOSTANDARD = LVCMOS33;
NET "armLEDnn" SLEW = SLOW;
NET "armLEDnn" DRIVE = 12;
NET "armLEDnn" LOC = P9;
NET "triggerLEDnn" IOSTANDARD = LVCMOS33;
NET "triggerLEDnn" SLEW = SLOW;
NET "triggerLEDnn" DRIVE = 12;
NET "triggerLEDnn" LOC = P10;

## SPI
NET "dataReady" IOSTANDARD = LVCMOS33;
##NET "dataReady" SLEW = FAST;
##NET "dataReady" DRIVE = 8;
NET "dataReady" LOC = P35;
NET "spi_miso" IOSTANDARD = LVCMOS33;
##NET "spi_miso" SLEW = FAST;
##NET "spi_miso" DRIVE = 8;
NET "spi_miso" LOC = P36;
NET "spi_mosi" IOSTANDARD = LVCMOS33;
##NET "spi_mosi" SLEW = FAST;
##NET "spi_mosi" DRIVE = 8;
NET "spi_mosi" LOC = P38;
NET "spi_sclk" IOSTANDARD = LVCMOS33;
##NET "spi_sclk" SLEW = FAST;
##NET "spi_sclk" DRIVE = 8;
NET "spi_sclk" LOC = P40;
#Shared Flash_SO line
NET "spi_cs_n" IOSTANDARD = LVCMOS33;
##NET "spi_cs_n" SLEW = FAST;
##NET "spi_cs_n" DRIVE = 8;
NET "spi_cs_n" LOC = P44;


## Input timing constraints...
INST "spi_cs_n" TNM = "spi";
INST "spi_mosi" TNM = "spi";
INST "spi_sclk" TNM = "spi";
TIMEGRP "spi" OFFSET = IN 7 ns VALID 9 ns BEFORE "bf_clock" RISING;

INST "extData[0]" TNM = "allins";
INST "extData[1]" TNM = "allins";
INST "extData[2]" TNM = "allins";
INST "extData[3]" TNM = "allins";
INST "extData[4]" TNM = "allins";
INST "extData[5]" TNM = "allins";
INST "extData[6]" TNM = "allins";
INST "extData[7]" TNM = "allins";
INST "extData[8]" TNM = "allins";
INST "extData[9]" TNM = "allins";
INST "extData[10]" TNM = "allins";
INST "extData[11]" TNM = "allins";
INST "extData[12]" TNM = "allins";
INST "extData[13]" TNM = "allins";
INST "extData[14]" TNM = "allins";
INST "extData[15]" TNM = "allins";
INST "extData[16]" TNM = "allins";
INST "extData[17]" TNM = "allins";
INST "extData[18]" TNM = "allins";
INST "extData[19]" TNM = "allins";
INST "extData[20]" TNM = "allins";
INST "extData[21]" TNM = "allins";
INST "extData[22]" TNM = "allins";
INST "extData[23]" TNM = "allins";
INST "extData[24]" TNM = "allins";
INST "extData[25]" TNM = "allins";
INST "extData[26]" TNM = "allins";
INST "extData[27]" TNM = "allins";
INST "extData[28]" TNM = "allins";
INST "extData[29]" TNM = "allins";
INST "extData[30]" TNM = "allins";
INST "extData[31]" TNM = "allins";
TIMEGRP "allins" OFFSET = IN 7 ns VALID 9 ns BEFORE "bf_clock" RISING;
TIMEGRP "allins" OFFSET = IN 7 ns VALID 9 ns BEFORE "bf_clock" FALLING;

## Output timing constraints...
INST "spi_miso" TNM = "allouts";
INST "armLEDnn" TNM = "allouts";
INST "triggerLEDnn" TNM = "allouts";
INST "dataReady" TNM = "allouts";
INST "extClockOut" TNM = "allouts";
INST "extTriggerOut" TNM = "allouts";
INST "extData[16]" TNM = "allouts";
INST "extData[17]" TNM = "allouts";
INST "extData[18]" TNM = "allouts";
INST "extData[19]" TNM = "allouts";
INST "extData[20]" TNM = "allouts";
INST "extData[21]" TNM = "allouts";
INST "extData[22]" TNM = "allouts";
INST "extData[23]" TNM = "allouts";
INST "extData[24]" TNM = "allouts";
INST "extData[25]" TNM = "allouts";
INST "extData[26]" TNM = "allouts";
INST "extData[27]" TNM = "allouts";
INST "extData[28]" TNM = "allouts";
INST "extData[29]" TNM = "allouts";
INST "extData[30]" TNM = "allouts";
INST "extData[31]" TNM = "allouts";
TIMEGRP "allouts" OFFSET = OUT 9 ns AFTER "bf_clock";

## Put SPI synchronizers as close to respective I/O's as possible...
INST "spi_slave/spi_sclk_sync/*" AREA_GROUP = "pblock_1";
INST "spi_slave/spi_cs_n_sync/*" AREA_GROUP = "pblock_1";
AREA_GROUP "pblock_1" RANGE=SLICE_X34Y0:SLICE_X35Y1;

## Add jitter uncertainy to clock...
SYSTEM_JITTER = 0.2 ns;
